
.entire-header{
    background-color: rgb(13,33,0);
    padding: 10px;

    .navbar-toggler{
        background-color: rgb(66,170,0);
    }
    a{
        text-decoration: none;
        padding: 25px 30px;
        color: white; 
    }
    .btn-custom{
        background-color: rgb(66,170,0); 
    }
}

